.popup__fields {
    display: flex;
    flex-direction: column;
    margin: 46px 0 0 0;
    width: 100%;
    padding: 0;
    border: 0;
    gap: 30px;
}

@media screen and (max-width: 619px) {
    .popup__fields {
        margin: 73px 0 0 0;
    }
}