.elements {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (max-width: 934px) {
    .elements {
        max-width: 619px;
        grid-template-columns: repeat(2, 282px);
        padding: 0 19px;
        box-sizing: border-box;

    }
}

@media screen and (max-width: 619px) {
    .elements {
        grid-template-columns: 282px;
        max-width: 282px;
        padding: 0;
    }
}