.element {
    width: 282px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content 79px;
}